{% include 'header.html' %}
<script>$('#home').addClass("active")
 document.body.style.backgroundImage="url('http://media.giphy.com/media/2itj7nkDA1zLW/giphy.gif')";
</script>
<center>Conneksus 2<br/><small>Lets get connected!</small></center>
<style>
small {
    font-size: 50%;
}

center {
    color: #fff;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 90pt;
    font-weight: 100;
    padding-top: 200px;
}
</style>

