{% include 'header.html' %}
<script>$('#search').addClass("active")</script>

  <form class="form" role="search" style="width:30%" action="/search" method="get">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="query" value="{{query}}">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
  </form>

  <h5>There are {{results_count}} results matching.</h5>
  <h6>Results</h6>

{% for stream in results %}
    <div class="pic">
        <img class="pic-image" src="{{stream.cover_url}}">
        <a href="/view?stream_name={{stream.id}}"><span  style="color: white" class="pic-caption bottom-to-top"><h1 class="pic-title">{{stream.id}}</h1><p>Click to dig</p></span></a>
    </div>
{% endfor %}
