{% include 'header.html' %}
{% if geo %}
<script>$('#view_geo').addClass("active")</script>
{% else %}
<script>$('#view').addClass("active")</script>
{% endif %}
<!-- Generic page styles -->
<link rel="stylesheet" href="../css/style.css">
<!-- blueimp Gallery styles -->
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">

<link rel="stylesheet" href="../css/jquery.fileupload-ui.css">
<link rel="stylesheet" href="../css/jquery.fileupload.css" />

<script>
var accessToken;
window.onload = function(){
    checkLoginState();
}
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
        console.log(response.authResponse.accessToken)
        accessToken = response.authResponse.accessToken;
      // Logged into your app and Facebook.
      testAPI();
    }
    else
        document.getElementById('fbpost').style.display = 'none';
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1484727805145449',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =        
        'You are logged in to Facebook. Post a link to this stream on your status.';
      document.getElementById('fbpost').style.display = 'block';
    });
    
  }

  function fbposttowall(){
    var data=
        {
            caption: 'Click on the link to visit my photo stream',
            message: 'Check out my photo stream at Conneksus, the new cool photo sharing app!',
            link: '{{ domain_url }}/view?stream_name={{ stream_name }}',  
         }
    FB.api('/me/feed', 'post', data, onPostToWallCompleted);    
  }

  function onPostToWallCompleted(response)
    {
        // Just show error message if there's an error
        if (response)
        {
            if (response.error)
            {
                alert(response.error.message);
            }
            else{
                document.getElementById('status').innerHTML =        
                    'Posted successfully on your wall!';
            }
        }
        // user cancelled
    }
</script>

{% raw %}
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>

{% endraw %}

{% if prev %}
<button class="btn btn-warning" name="prev" onclick='new_off= {{offset}}>={{count}}?{{offset}}-{{count}}:0;window.location.href="view?stream_name={{ stream_name }}&offset="+new_off;'>Prev</button>
{% endif %}
{% for image_id in image_ids %}
    <div class="pic">
        <a href="/image?image_id={{ image_id }}"><img class="pic-image img-polaroid" src="image?image_id={{ image_id }}"></a>
    </div>
{% endfor %}
{% if more %}
<button class="btn btn-success" name="more" onclick='window.location.href="view?stream_name={{ stream_name }}&offset="+({{offset}} + {{count}});'>Next</button>
{% endif %}

<br/>

<form class="form-horizontal" id="fileupload" style="width:70%" action="/image" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <!--
        <label for="inputStream" class="control-label col-xs-2">Photo: </label>
        <div class="col-xs-10">
            <input type="file" class="form-control" name="img">
        </div>
        -->
    <div class="form-group">
        <label for="inputTags" class="control-label col-xs-2">Comment: </label>
        <div class="col-xs-10">
            <input type="text" class="form-control" name="comment" placeholder="memories...">
        </div>
    </div>
    <div class="form-group">
        <label for="inputTags" class="control-label col-xs-2">To Stream: </label>
        <div class="col-xs-10">
            <input type="text" class="form-control" name="stream_id" value="{{stream_name}}" readonly>
        </div>
    </div>
    <div class="alert alert-success" role="alert" id="success" style="display: none;">Images have been uploaded successfully.<a href="#" onclick="window.location.reload();" class="alert-link">Click to Refresh.</a></div>
    <div id="qunit-fixture">
        <!-- The file upload form used as target for the file upload widget -->
        <!-- <form id="fileupload" action="/image" method="POST" enctype="multipart/form-data"> -->
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
           <div class="row fileupload-buttonbar">
                <div class="col-lg-7">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add files...</span>
                        <input type="file" name="files[]" multiple>
                    </span>
                    <button type="submit" class="btn btn-primary start">
                        <i class="icon-upload icon-white"></i>
                        <span>Start upload</span>
                    </button>
                    <button type="reset" class="btn btn-warning cancel">
                        <i class="icon-ban-circle icon-white"></i>
                        <span>Cancel upload</span>
                    </button>
                    <button type="button" class="btn btn-danger delete">
                        <i class="icon-trash icon-white"></i>
                        <span>Delete</span>
                    </button>
                    <input type="checkbox" class="toggle">
                    <!-- The global file processing state -->
                    <span class="fileupload-process"></span>
                </div>
                <!-- The global progress state -->
                <div class="col-lg-5 fileupload-progress">
                    <!-- The global progress bar -->
                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                    </div>
                    <!-- The extended global progress state -->
                    <div class="progress-extended">&nbsp;</div>
                </div>
            </div>
            <!-- The table listing the files available for upload/download -->
            <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
            <!-- </form> -->
    </div>

    </div>
</form>

<br/>

{% if logged_in %}
    {% if is_owned %}
    <button class="btn btn-info" name="subscribe" disabled>Subscribe</button>
    <h4> You currently own this stream! </h4>
    {% else %}
        {% if is_subscribed %}
            <form action="/unsubscribe?stream_name={{stream_name}}" method="post">
                <button class="btn btn-info" name="unsubscribe">Unsubscribe</button>
            </form>
        {% else %}
            <form action="/subscribe?stream_name={{stream_name}}" method="post">
                <button class="btn btn-info" name="subscribe">Subscribe</button>
            </form>
        {% endif %}
    {% endif %}
{% else %}
    <h4> Please log in Subscribe.</h4>
{% endif %}


<div id="status">
</div>

<div class="form-group">
    <div>
        <button type="submit" class="btn btn-primary" id="fbpost" onclick="fbposttowall()">Post to Facebook</button>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="../js/vendor/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- blueimp Gallery script -->
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="../js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="../js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="../js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="../js/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="../js/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="../js/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="../js/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="../js/jquery.fileupload-ui.js"></script>
<!-- The main application script -->
<script src="../js/main.js"></script>

