{% include 'header.html' %}
<script>$('#view').addClass("active")</script>

<script>
var accessToken;
window.onload = function(){
    checkLoginState();
}
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
        console.log(response.authResponse.accessToken)
        accessToken = response.authResponse.accessToken;
      // Logged into your app and Facebook.
      testAPI();
    }
    else
        document.getElementById('fbpost').style.display = 'none';
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1484727805145449',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =        
        'You are logged in to Facebook. Post a link to this stream on your status.';
      document.getElementById('fbpost').style.display = 'block';
    });
    
  }

  function fbposttowall(){
    var str = '{{ domain_url }}/view?stream_name={{ stream_name }}'
    alert(str)

    var data=
        {
            caption: 'This is my wall post example',
            message: 'Posted using FB.api',
            link: '{{ domain_url }}/view?stream_name={{ stream_name }}',  
         }
    FB.api('/me/feed', 'post', data, onPostToWallCompleted);    
  }

  function onPostToWallCompleted(response)
    {
        // Just show error message if there's an error
        if (response)
        {
            if (response.error)
            {
                alert(response.error.message);
            }
            else
            {
                alert("Posted as "+response.id);        
            }
        }
        // user cancelled
    }


</script>


{% if prev %}
<button class="btn btn-warning" name="prev" onclick='new_off= {{offset}}>={{count}}?{{offset}}-{{count}}:0;window.location.href="view?stream_name={{ stream_name }}&offset="+new_off;'>Prev</button>
{% endif %}
{% for image_id in image_ids %}
    <div class="pic">
        <a href="/image?image_id={{ image_id }}"><img class="pic-image img-polaroid" src="image?image_id={{ image_id }}"></a>
    </div>
{% endfor %}
{% if more %}
<button class="btn btn-success" name="more" onclick='window.location.href="view?stream_name={{ stream_name }}&offset="+({{offset}} + {{count}});'>Next</button>
{% endif %}

<br/>

<form class="form-horizontal" style="width:70%" action="/image" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="inputStream" class="control-label col-xs-2">Photo: </label>
        <div class="col-xs-10">
            <input type="file" class="form-control" name="img">
        </div>
    </div>
    <div class="form-group">
        <label for="inputTags" class="control-label col-xs-2">Comment: </label>
        <div class="col-xs-10">
            <input type="text" class="form-control" name="comment" placeholder="memories...">
        </div>
    </div>
    <div class="form-group">
        <label for="inputTags" class="control-label col-xs-2">To Stream: </label>
        <div class="col-xs-10">
            <input type="text" class="form-control" name="stream_id" value="{{stream_name}}" readonly>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-primary">Upload Photo</button>
        </div>
    </div>
</form>

<br/>

{% if logged_in %}
    {% if is_owned %}
    <button class="btn btn-info" name="subscribe" disabled>Subscribe</button>
    <h4> You currently own this stream! </h4>
    {% else %}
        {% if is_subscribed %}
            <form action="/unsubscribe?stream_name={{stream_name}}" method="post">
                <button class="btn btn-info" name="unsubscribe">Unsubscribe</button>
            </form>
        {% else %}
            <form action="/subscribe?stream_name={{stream_name}}" method="post">
                <button class="btn btn-info" name="subscribe">Subscribe</button>
            </form>
        {% endif %}
    {% endif %}
{% else %}
    <h4> Please log in Subscribe.</h4>
{% endif %}


<div id="status">
</div>

<div class="form-group">
    <div class="col-xs-offset-2 col-xs-10">
        <button type="submit" class="btn btn-primary" id="fbpost" onclick="fbposttowall()">Post to Facebook</button>
    </div>
</div>



